body {
  width: 100%;
  height: 60em;
  margin: 0px;
  padding: 0px;
  background-image: url('background.png');
  background-color: #ccc;
  overflow: auto;
  top: 0px;
  bottom: 1em;
  left: 0;
  right: 0;
  position: absolute;
  outline: medium none;
}
#graph {
 height: 60em;
}