
.beforeload {
    display: none !important;
}

.bug {
    color: purple;
}

.component {
    border: 1px solid darkgray;
}

body {
    margin: 0px;
    padding: 0px;
    border: none;
    font-family: helvetica, arial;
}

.footer {
    border-top: 2px solid #ddd;
}