<page-header></page-header>

<div>
    <p>
     Create a new user.
    </p>
    <p>
    All passwords are one-way encrypted on the server, but they are passed
    in plain-text to the server (no SSL).  In human terms, that means
    that even if someone gained access to this site, it's doubtful they'd
    be able to discover your password.  However, someone could listen in
    on your login request, or your user creation request, and steal your
    password that way.  So be careful with what you choose.
    </p>
    <p>
    The site also asks for your email address.  The site requires an entry
    that looks like an email address, but you don't have to give a real one
    (we don't require authentication by email).
    If you decide not to supply a real email, that would mean that you can't
    receive email notifications or password recovery emails.  We only use
    the emails for site related issues or the recovery emails, but we understand
    a desire to keep things like this private.
    </p>
    <create-user></create-user>
</div>
