<page-header></page-header>
<div>
    Welcome to WebRiffs!
</div>

<div>
    <p>WebRiffs allows for community created comments for films,
    that can be watched with the movie.</p>
    <p>
    We don't have much at the moment.  Try out these:
    </p>
    <ul>
        <li><a href="#/user/create">User creation</a></li>
        <li><a href="#/user/forgot">Send a password reminder</a></li>
        <li><a href="#/film/list">List films</a></li>
        <li><a href="#/film/create">Add a film</a></li>
    </ul>
</div>
